*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
}
header{
    padding: 4rem 7%;
}
.navbar{
    height: 74px;
    width: 100%;
    color: white;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 7%;
    z-index: 999;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
.navbar .logo img{
    height: 70px;
    width: 80px;
}
.links a{
    color:  white;
    margin: 0 1.5rem;
    letter-spacing: 0.1rem;
}
/* .links a::before{
    content: " ";
    height: 2px;
    width: 0%;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition-property: left right;
    transition-duration: 0.4s;
    transition-timing-function: ease-out;
} */
.links a:hover{
    text-decoration: underline;
    color: #ffa742;
    width: 100%;
}
.home{
    min-height: 100vh;
    display: flex;
    text-align: center;
    justify-content: center;
    background: linear-gradient(rgba(0,0,0,0.2),  rgba(0,0,0,0.2)),
    url(homepage-image.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}
.heading1{
    font-family: Edwardian Script ITC;
    color: #ffa742;
    font-size: 13rem;
    text-align: center;
    font-weight: lighter;
    position: relative;
    top: 70px;
}
.content .heading2{
    color: #fff;
    font-size: 3rem;
    text-transform: uppercase;
    line-height: 7rem;
}
.content p{
    font-size: 1.5rem;
    color: #eee;
    font-weight: lighter;
    line-height: 1.8rem;
    padding: 10px 0;
}
.content .mob{
    font-size: 2.5rem;
    font-weight: 100;
    text-align: center;
    color: #eee;
}
.btn{
    cursor: pointer;
    border: 2px solid #fff;
    font-size: 1.7rem;
    color: #fff;
    padding: 0.8rem 1.5rem;
    display: inline-block;
    overflow: hidden;
    margin-top: 3rem;
    backdrop-filter: blur(100px);
}
.btn:hover{
    background-color: #ffa742;
}
.btn:active{
    background-color: rgba(255, 167, 66, 0)
}
.reinter{
    height: 100vh;
    width: 100%;
    background-image: url("sec3.image.jpg");
    background-size: cover;
    background-attachment: fixed;
}
.reinter .content .heading2{
    text-align: center;
    color: #262626;
    padding: 3rem 0;
    font-size: 4rem;
    font-weight: 600;
    

}
.reinter .content p {
    text-align: center;
    padding: 5px 10px;
    color: #262626;
    font-weight: 400;
    font-size: 1.4rem;
}
.reinter .content .heading3{
    text-align: center;
    font-weight: 600;
    color: #ffa742;
    font-size: 20px;
    cursor: pointer;
    text-decoration: underline;
    padding-top: 20px;
    padding-bottom: 50px;
}
.reinter .content .heading3:hover{
    color: #262626;
    
}
.imagechange{
    width: 100%;
    height: 100vh;
    background-image: url("istockphoto-img1.jpg");
    background-size: cover;
    background-position: center;
    animation: change_images 10s ease infinite;
}

@keyframes change_images {
    30%{
        background-image: url("pexels-boris-hamer-15735171.jpg");
    }
    60%{
        background-image: url("pexels-timur-saglambilek-66639.jpg");
    }
    100%{
        background-image: url("AdobeStock_img4.webp");
    }
}
.service{
    width: 100%;
    height: auto;
    padding: 0;
}
.service .heading2{
    font-size: 4rem;
    font-weight: 600;
    text-align: center;
    margin-top: 40px;
    color: #262626;
}
.list ul{
    margin-left: 410px;
}
.list ul li{
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    padding: 30px;
}
.list ul li a{
    font-weight: 100;
    color: #262626;
}
.list ul li a:hover{
    color: #ffa742;
}
.dish_menu{
    width: 100%;
    height: 300px;
    display: flex;
    background: pink;
}
.dish_menu .box{
    width: 400px;
    height: 100%;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    transition: .8s;
    background-color: white;
}
.background{
    width: 100%;
    height: 100%;
    background-image: url("Churro-Bundt-Cake.webp");
    background-size: cover;
    background-position: center;
    transition: 0.8s;
}
.background:hover{
    transform: scale(1.1);
}
.hover_content{
    width: 100%;
    height: 100%;
    background-color: rgba(38, 38, 38, 0.4);
    position: relative;
    top: -100%;
    transition: 0.8s;
}
.background:hover .hover_content{
    top: 0;
}
.background2{
    background-image: url("Chocolate-Snack-Cake.webp");
}
.background3{
    background-image: url("Chicken-Tacos.webp");
}












.hover_content i{
    font-size: 20px;
    padding: 10px;
    background: #fff;
    margin-top: 30px;
    border-radius: 50%;
}
.hover_content i:hover{
    background-color: #ffa742;
    color: #fff;
}
.hover_content h4{
    font-size: 30px;
    color: #fff;
    position: relative;
    top: 100px;
    left: 50px;
    opacity: 1;
}