*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    font-family: Doris, sans-serif;
    transition: all 0.4s cubic-bezier(0.4,1.1,0.62,1.08);
    text-transform: capitalize;
}
html{
    font-size: 63%;
}
.home,.header,.food{
    padding: 2rem 10%;
}
.btn{
    margin-top: 1rem;
    display: inline-block;
    background-color: #cd9452;
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
    padding: 1rem 3rem;
}
.btn:hover{
    letter-spacing: 0.2rem;
}
.header{
    padding: 0.1rem 0 0.1rem 0;
    display: flex;align-items: center;
    justify-content: space-around;
    /* border: 2px solid rgba(0, 0, 0, 0.3); */
    box-shadow: 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #ccc;
}
.header .logo{
    font-size: 2rem;
    font-weight: bolder;

}
.header .logo img{
    color: #cd9452;
    padding-right: 0.5rem;
}
.navbar a{
    font-size: 2rem;
    margin-left: 2rem;
    color: #666;
}
.navbar a:hover{
    color: #cd9452;
}
#menu-btn{
    font-size: 2rem;
    cursor: pointer;
    color: #222;
    display: none;
}
.home{
    padding: 0;
    background: rgba(0, 0, 0, .7);
}
.home .slide{
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home .slide::before{
    content: '';
    position: absolute;
    top: 0; left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .7);
    z-index: -1;
}
.home .slide .content{
    text-align: center;
    width: 70rem;
}
.home .slide .content span{
    font-size: 3rem;
    display: block;
    padding-bottom: 0.5rem;
    color: #ccc;
}
.home .slide .content h3{
    font-size: 8vw;
    text-transform: uppercase;
    color: #ccc;
}
.swiper-button-next, 
.swiper-button-prev{
        height: 5rem;
        width: 5rem;
        line-height: 5rem;
        background-color: #ccc;
        color: #222;
}
.swiper-button-next::after, 
.swiper-button-prev::after{
    font-size: 2rem;
}
.swiper-button-next:hover, 
.swiper-button-prev:hover{
    background-color: #cd9452;
    color: #ccc;
}
.about{
    display: flex;
    align-items: center;
    gap: 3rem;
    background-color: #f5f5f5;
}
.about .image{
    height: 100vh;
    width: 100%;
    flex: 1 1 39rem;
}
.about .image img{
width: 60vw;
height: 80vh;
padding: 2.5rem;
}
.about .content{
    flex: 1 1 41rem;
}
.about .content .title{
    font-size: 4rem;
    color: #222;
}
.about .content p{
    font-size: 1.7rem;
    color: #666;
    padding: 1rem;
    line-height: 2rem;
}
.about .content h1{
    font-size: 2.5rem;
}
.heading{
    text-align: center;
    margin-bottom: 3rem;
}
.heading span{
    font-size: 2.5rem;
    color: #cd9452;
}
.heading h3{
    font-size: 4.5rem;
    color: #222;
}
.food{
    background-color: #f5f5f5;
}
.food .slide{
    text-align: center;
    padding: 3rem 2rem;
    transform: scale(.9);
    opacity: .5;
}
.food .swiper-slide-active{
    transform: scale(1);
    opacity: 1;
    background-color: #fff;
    box-shadow: 0.5rem 1rem rgba(0, 0, 0, 0.1);
    border: 2px solid rgba(0, 0, 0, 0.3);

}
.food .slide img{
    height: 25rem;
    margin-bottom: 1rem;
}
.food .slide h3{
    font-size: 2.5rem;
    padding: 1rem 0;
    color: #222;
}
.food .slide .price{
    color: #cd9452;
    font-size: 2.5rem;
}





































@media (max-width:1200px){
    section{
        padding: 3rem 5%;
    }
}
@media (max-width:991px){
    section{
        padding: 3rem 2rem;
    }
    html{
        font-size: 55%;
    }
    .home .slide .content h3{
        font-size: 15vw;
    }
}

@media (max-width:768px){

    #menu-btn{
        display: inline-block;
        
    }
    .fa-bars{
            transform: rotate(180deg);
    }
        .header .navbar{
            position: absolute;
            top: 99%;
            left: 0;
            right: 0;
            background-color: #ccc;
            border-top: 1rem solid rgba(0, 0, 0, 0.3) ;
            clip-path: polygon(0 0,100% 0, 100% 0, 0 0);
        }
        .header .navbar.active{
            clip-path: polygon(0 0, 100% 0, 100% 100% , 0 100%);
        }
        .header .navbar a{
            display: block;
            margin: 2rem;
        }
        .swiper-button-next, 
        .swiper-button-prev{
        top: initial;
        bottom: 1rem;
}
}
@media (max-width:450px){

    html{
        font-size: 50%;
    } 
    .home .slide .content h3{
        font-size: 7rem;
    }
}

